
body{
	background-image:url(wlpg.jpeg);
background-position:center;
background-size:cover;
background-repeat:no-repeat;
font-family:ariel;
text-s
}
.h2{
	text-align:center;
	border-radius:88px;
	background-color:black;
}

.p2{
	text-align:center;
	border-radius:88px;
	background-color:black;
}

